body {
font-size: 20px;
color: #aaa;
background-color: #21123f;
font-family: 'Oxygen', sans-serif;
}

/** Encabezado **/
#header-nav {
background-color: #a6b320;
border-radius: 0;
border: 0;
}

.row {
  width: 100%;
}

.style1 {
  text-align: justify;
  border: 1px solid yellow;
  background-color: #A52A2A;
  width: 80%;
  height: 100%;
  margin-right: 0%;
  margin-left: 10%;
  margin-top: 0;
  font-family: Helvetica;
  color: white;

}
.style2 {
	 margin-left: 10%;
	text-align: center;
  
}


